services:
  web:
    build: .
    ports:
      - "3000:3000"
    environment:
      - FLASK_ENV=development
      - FLASK_DEBUG=1
    volumes:
      - .:/app
      - /app/node_modules

  production:
    build: .
    ports:
      - "5000:3000"
    environment:
      - FLASK_ENV=production
      - FLASK_DEBUG=0
    restart: always
    volumes:
      - .:/app
      - /app/node_modules


